<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Full Stack Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://app.simplefileupload.com/buckets/fefbbf8cf4ff2a15b0b7a3fce8805116.js"></script>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Full Stack Blog</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <a href="/profile">profile</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>