<h1>Hello, {{profileData.username}}!</h1>

<button id="edit-profile-btn">Edit profile</button>

<div>
    <label for="avatar_url">Your profile picture</label>
</div>
<form>
  <img src="{{profileData.avatar_url}}" alt="profile picture"/>
</form>

<section class="about-me">
    <h2>About me</h2>
    <p>{{profileData.aboutMe}}</p>
</section>

<script src="/javascript/profile-page.js"></script>



